
header{ 
	width: 1024px;
	height: 300px;
	background: url(jakW2.0.jpg);
	transform: translate(39%,0);
}
nav{
	display: flex;
	align-items:center;
	justify-content: space-between;
	max-width: auto;
	transform: translate(4%,-20%);
	padding: auto;
}
.nav-links{
	padding: 20px 0;
}
.nav-links li{
	display: inline-block;
	margin: 0 65px;
}
.nav-links li a
{
	font-size: 20px;
	font-size: x-large;
	text-decoration: none;
	color: black;
	padding: 5px 0;
	position: relative;
}
.nav-links li a::after
{
	content: "";
	background: black;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}
.nav-links li a:hover::after{
	width: 100%;
}